.u-section-1 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-1 .u-list-1 {
  margin-top: 220px;
  margin-bottom: 60px;
  grid-template-rows: auto auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  min-height: 765px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 36px 28px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
  margin: 61px auto 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-1 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 36px 28px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
  margin: 61px auto 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-1 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-3 {
  transform-origin: left center 0px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 36px 28px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
  margin: 61px auto 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-1 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-4 {
  transform-origin: left center 0px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: 36px 28px 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
  margin: 61px auto 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-1 .u-container-layout-5 {
  padding: 22px 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-line-5 {
  transform-origin: left center 0px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin: 36px 28px 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
  margin: 61px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 629px;
  }

  .u-section-1 .u-line-1 {
    height: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    width: 157px;
    height: 42px;
  }

  .u-section-1 .u-line-2 {
    height: 4px;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    width: 157px;
    height: 42px;
  }

  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-1 .u-line-3 {
    height: 4px;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    width: 157px;
    height: 42px;
  }

  .u-section-1 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-1 .u-line-4 {
    height: 4px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 177px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    width: 157px;
    height: 42px;
  }

  .u-section-1 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-1 .u-line-5 {
    height: 4px;
  }

  .u-section-1 .u-text-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    width: 157px;
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 1107px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-8 {
    margin-top: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 223px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 545px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 43px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 43px;
  grid-template-rows: auto auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 21px 21px;
  min-height: 358px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 32px 28px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
  margin: 63px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,1);
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  }

  .u-section-2 .u-line-1 {
    height: 4px;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    width: 157px;
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}